{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "exclude": ["es.promise"],
        "targets": {
          "browsers": ["last 5 versions", "ie >= 8"],
          "esmodules": true
        }
      }
    ]
  ]
}
